<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>

<!--百度echart 引入开始-->

<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
<!--百度echart 引入结束-->


<body>
<!--使用echarts可视化-->
<div>
    <!--区域切换 国内 国外 实时播报-->

    <!--疫情概述-->
    <div class="Virus_summary">
        <div>
            <!--国内-->
            <div id="domestic">国内疫情</div>
        </div>
        <div id="container" style="height: 100%"></div>

    </div>

</div>
<link rel="stylesheet" type="text/css" href="/static/css/index.css"></link>
<script type="text/javascript" src="/static/js/echart-demo.js" ></script>
</body>
</html>